    {{>headerTemplate}}

    {{#with main}}
        <div class="main">
            <img src="{{image}}" alt="main picture" class="main_image">
            <div class="main_content">
                <h1 class="main_title">{{heading}}</h1>
                <p class="main_description">{{description}}</p>
                <a href="{{href}}" class="main_button">{{button}}</a>
            </div>
        </div>
    {{/with}}       

        <div class="card">
            {{#each featured}}
                <div class="card_content">
                    <img src="{{photo}}" class="card_image" alt="card photo">
                    <h2 class="card_title">{{heading}}</h2>
                    <p class="card_description">{{info}}</p>
                    <a href="{{linkUrl}}" class="card_link">{{linkText}}</a>  
                </div>
            {{/each}}
        </div> 

        <div class="form_bar">
            {{#each actions}}
            <div class="form_content">
                <h3 class="form_title">{{heading}}</h3>
                <a href="{{url}}" class="form_button">{{text}}</a>
            </div>
            {{/each}}
        </div>

    {{>footerTemplate}}